# **A1P1: Python Questions for Beginners**

## **String manipulation**

In python, a string is any symbol, character, or digit that is between two quotation marks. For example, `"hi ?? &1"` is a string, since it is between two quotation marks ". The quotation marks can also be two '.

### Q1

**Print** the following `message` variable which contains string "Hello World". Then, **print the length** of this string variable by using the function `len()`.

In [66]:
message = "Hello World"

In [67]:
# Write your code here [Coursemology]
print(message)
print(len(message))

Hello World
11

### Q2

Given two variables `part1` and `part2` containing string "Spider" and "Man", respectively, print the **concatenation** of these two variables so it prints "SpiderMan". We use + to concatenate two strings.

In [68]:
part1 = "Spider"
part2 = "Man"

In [69]:
# Write your code here [Coursemology]
print(part1+part2)

SpiderMan

### Q3

Indexing a string is done by using square brackets. Print the first three letters of the variable `message` containing word "hello" by using **string indexation**.

Hint: Be careful, in python, the first character of a string is indexed by 0 and not by 1. For example, if a string is `message = "python"`, then `message[0] = "p"`.

In [70]:
message = "hello"

In [71]:
# Write your code here [Coursemology]
print(message[0]+message[1]+message[2])

hel

### Q4

Print the `message` string variable from the 2nd letter to the 7th letter (inclusive) using **string slicing**. Hints: it should prints "bracad".

In [72]:
message = "abracadabra"

In [73]:
# Write your code here [Coursemology]
print(message[1:7])

bracad

### Q5

Print the following `message` string variable in **lowercase**, i.e., print the string "SPIDERMAN" as "spiderman".

Hint: Check the python function `lower()`

In [74]:
message = "SPIDERMAN"

In [75]:
# Write your code here [Coursemology]
print(message.lower())

spiderman

### Q6

**Count** the number of letters, numbers and symbols in the given string. Note that space is not considered as symbols.

Hint : You may use `for` loop to answer this question. In addition, you may also use the `isdigit()` and `isalpha()` functions to determine whether a character is a digit, alphanumeric, or otherwise. You may also use conditionals, i.e., `if/else` if necessary.

In [76]:
message = "one 1 two! 2 three four!4, 6,;7++9"

In [77]:
# Write your code here [Coursemology]
n_alpha = 0
n_digit = 0
n_symbol = 0
for char in message:
    if char.isdigit():
        n_digit+=1
    elif char.isalpha():
        n_alpha+=1
    else:
        if char!=" ":
            n_symbol+=1

print(n_alpha)
print(n_digit)
print(n_symbol)

15
6
7

## **Lists and set manipulation**

A list is a data structure that contains a series of values. Python allows the construction of lists containing values of different types (for example integer and string). A list is declared by a series of values (don't forget the quotes, single or double, if they are strings) separated by commas, and the whole surrounded by square brackets.

Lists have a lot in common with strings. Checking the length of a string, as well as indexing, concatenating and slicing lists are done in the same way as for strings.

An empty list object can be initialized as:

```python
a = []
```

### Q7

**Initialize** `my_list_string` to be an empty list. **Add** the strings "alice", "bob", and "charlie" to the list `my_list_string`.

In [78]:
# Write your code here [Coursemology]

my_list_string = []
my_list_string.append('alice')
my_list_string.append('bob')
my_list_string.append('charlie')

# start

# end

print(my_list_string)

['alice', 'bob', 'charlie']

### Q8

**Print the length** of `my_list_string`.

In [79]:
# Write your code here [Coursemology]
print(len(my_list_string))

3

### Q9

Find **two ways** to select the last element of the list `my_list_string`, and print it.

In [80]:
# Write your code here [Coursemology]
print(my_list_string[-1])
print(my_list_string[len(my_list_string)-1])

charlie
charlie

### Q10

**Give the index** of the word "capybara" in `list_animals` and save the result in variable `index_of_capybara`.

Hint: Check python function `index`.

In [81]:
list_animals = ["dog","cat","mouse","capybara","cow","dog","dog","mouse","cow","capybara","cat","dog"]

In [82]:
# Write your code here [Coursemology]

index_of_capybara = list_animals.index("capybara")
# start

# end

print(index_of_capybara)

3

### Q11

In python, there are several ways to **delete an element** from a list. In this question, we will try to use these three methods :

*   `list.pop(index)`
*   `del(list[index])`
*   `list.remove(item)`

For each method, delete the element `"bob"` from `my_string_list2`.

In [83]:
# Write your code here [Coursemology]

# pop method
my_list_string2 = my_list_string.copy()
my_list_string2.pop(my_list_string2.index('bob'))
print(my_list_string2)


# del method
my_list_string2 = my_list_string.copy()
del(my_list_string2[my_list_string2.index('bob')])
print(my_list_string2)

# remove method
my_list_string2 = my_list_string.copy()
my_list_string2.remove('bob')
print(my_list_string2)

['alice', 'charlie']
['alice', 'charlie']
['alice', 'charlie']

### Q12

**Sort** the following lists : `list_30` and save the results in variables `list_30_sorted`. 

Hint: Look for python's sorting function `sorted`

In [84]:
list_30 = [13, 8, 9, 16, 15, 3, 28, 6, 4, 2, 24, 30, 29, 23, 14, 27, 26, 19, 7, 5, 1, 20, 10, 18, 25, 22, 21, 17, 12, 11]

In [85]:
# Write your code here [Coursemology]

list_sorted = sorted(list_30)
#start

# end 
print(list_sorted)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

### Q13

**Count the number of occurences** of the word "dog" in `list_animals` and save the results in the variable `count_of_dog`.

Hint: Look for python's counting function `count`

In [86]:
# Write your code here [Coursemology]

count_of_dog = list_animals.count('dog')
# start

# end
print(count_of_dog)

4

### Q14 

**Concatenate** the two lists `list_animals` and `list_animals2` into a new list `animals`.

In [87]:
list_animals2 = ['cat', 'dog', 'rabbit', 'horse']

In [88]:
# Write your code here [Coursemology]

animals = list_animals + list_animals2
# start

# end

print(animals)

['dog', 'cat', 'mouse', 'capybara', 'cow', 'dog', 'dog', 'mouse', 'cow', 'capybara', 'cat', 'dog', 'cat', 'dog', 'rabbit', 'horse']

### Q15 

Create a new list from `list_animals` containing animal names with **first letter "c"** and print the new list.

Hint: You may need to use with `for`-loop.

In [89]:
# Write your code here [Coursemology]
l = []
for animal in list_animals:
    if animal[0] == 'c':
        l.append(animal)

print(l)

['cat', 'capybara', 'cow', 'cow', 'capybara', 'cat']

### Q16 

**Sum** all elements in the `list_30` and save the results in variable `list_sum`. It means that if the list is `[a,b,c,d]`, the result should be `a+b+c+d`.

Hint: You should not use any loops. Check for a python function that can directly do what is asked.

In [90]:
# Write your code here [Coursemology]

list_sum = sum(list_30)
# start

# end

print(list_sum)

465

### Q17 

Find the **intersection** of `list_animals` and `list_animals2`, i.e. a set with all the animals that are present in both lists. Save the results in variable `animals_intersection`.

Hint: You might need to use the python object `set()`

In [91]:
print(list_animals)
a = set(list_animals)
b = set(list_animals2)

animals_intersection = a.intersection(b)
print(animals_intersection)

['dog', 'cat', 'mouse', 'capybara', 'cow', 'dog', 'dog', 'mouse', 'cow', 'capybara', 'cat', 'dog']
{'dog', 'cat'}

### Q18 

Check whether `list2` is a **subset** of `list1`, i.e. whether you can find all elements of `list2` in `list1`.

Hint: Check the function `issubset`

In [92]:
list1 = [1,2,2]
list2 = [1,2]

In [119]:
# Write your code here [Coursemology]

is_subset = set(list1).issubset(set(list2))
# start

# end

print(is_subset)

True

### Q19

Split a string of a sentence into a **list of string words** by space. For example, if the string is "Hi everyone my name is John", you should have the list `["Hey", "everyone", "my", "name", "is", "John"]` as a result.

Hint: Look for the function `split` on python.

In [94]:
lorem = "Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"

In [95]:
# Write your code here [Coursemology]

lorem_list = lorem.split(' ')
# start

# end

print(lorem_list)

['Lorem', 'ipsum', 'dolor', 'sit', 'amet', 'consectetur', 'adipiscing', 'elit', 'sed', 'do', 'eiusmod', 'tempor', 'incididunt', 'ut', 'labore', 'et', 'dolore', 'magna', 'aliqua']

### Q20

Python allows lists inside list, which can be used to save more than 1-dimensional data. Create an empty python list `my_array` and add the following three lists into the `my_array`.

*  First row: `[0,1,2]`
*  Second row: `[3,4,5]`
*  Third row: `[6,7,8]`

In [96]:
# Write your code here [Coursemology]

my_array = None
# Start

# end

print(my_array)

None

## **Dictionary**

A dictionary (or, in short in Python, dict) is a collection that associates a key with a value. For example, it is possible to associate the key `"animal"` with an animal name and the key `"height"` with the height of the animal. To create a dictionary, we associate a key with a value by separating them with `,`, all between braces `{}`.

For example: `my_dict = {"animal"="giraffe", "height"=5}`.

To access an element of a dict, you must use square brackets and specify the value of the key. For example : `my_dict["animal"] = "giraffe"`

We show two ways to initialize a `dict` object as follows:

```python
my_dict = {}
## alternatively
my_dict = dict()
```

### Q21 

**Create a dictionary** `my_dict` from a list of keys and a list of values.

In [97]:
keys = ['brand','model','year']
values = ["Toyata","Yaris",1999]

In [98]:
# Write your code here [Coursemology]

my_dict = dict(zip(keys, values))
# start

# end

print(my_dict)

None

### Q22

**Extract the keys and values** from a dictionary. Save the keys and the values in two separate lists `keys` and `values` and print these lists.

Hint: Check the python function `keys` and `values`

In [99]:
my_dict = {'name': 'amber', 'age': 26, 'gender':'female', 'job':'lawyer'}

In [120]:
# Write your code here [Coursemology]

keys = my_dict.keys()
values = my_dict.values()
# start

# end

print(keys)
print(values)

dict_keys(['name', 'age', 'gender', 'job'])
dict_values(['amber', 26, 'female', 'lawyer'])

### Q23

We know that Amber's `"height"` is `165`. **Add this entry** in the dictionary `my_dict`. **Increment** the value of `age` by `age_increment`. We also want the value of `'job'` to be `new_job` instead of `lawyer`. Update `my_dict` with these changes.

In [101]:
age_increment = 1
new_job = 'doctor'

In [123]:
# Write your code here [Coursemology]
my_dict['age'] += age_increment
my_dict['job'] = new_job

# start

# end

print(my_dict)

{'name': 'amber', 'age': 28, 'gender': 'female', 'job': 'doctor', 'height': 165}

### Q24 

**Merge** the two dictionaries `x` and `y` into a new dictionary `z`.

In [124]:
x = {'a': 1, 'b': 2}
y = {'c': 11, 'd':29}

In [125]:
# Write your code here [Coursemology]

z = {}
z.update(y)
z.update(x)
# start

# end

print(z)

{'c': 11, 'd': 29, 'a': 1, 'b': 2}

### Q25 

**Count the number of occurences** of each word in the given text. Save these occurences in a dictionary. The dictionary should have a word as a key, the value associated to this key should be the number of occurences of the word. 

Hint: First split the sentence into a list of words using the function we mentioned in Q19. Then, use a `for` loop to enumerate the words in sentence.

In [105]:
text = "you say goodbye and i say hello hello hello i don't know why you say goodbye i say hello hello hello i don't know why you say goodbye i say hello"

In [126]:
# Write your code here [Coursemology]
words = text.split(' ')
count_words = {}
for word in words:
    if word not in count_words:
        count_words[word] = 0
    count_words[word] += 1


# start

# end

print(count_words)

{'you': 3, 'say': 6, 'goodbye': 3, 'and': 1, 'i': 5, 'hello': 7, "don't": 2, 'know': 2, 'why': 2}

## **Functions**

A function is a sequence of instructions that can be called with a name.

First of all to indicate to the interpreter that you want to create a function, we use the keyword `def` followed by a name then parenthesis and then a double point. Between the parenthesis are the parameters, that we will use inside the function. It is possible that we do not have any parameter.

Once you have done that, you can write the intructions. A function usually ends with `return`, but this is not always the case.

For example:


```
def func(x):
    print("The function is working!")
    return 5*x
```

Here, `x` is a parameter of the function. We used `return 5*x`. It means that if we wrote `a = func(x)`, then a would be equal to `5*x`. If there is no `return`, then we cannot save `func(x)` in a variable. In the execution cell, we will also see printed `'The function is working!'`

You can also notice that there is a space before the keyword `return`, this is an indentation, i.e. a space that not only improves the reading of the function but also indicates that we are still in the function. When the requested action is no longer in the function, the text should no longer be indented. To indent text, you must press the `TAB` key on your keyboard.

### Q26

Create a function `my_function`. This function has no parameter, and only print "Hello World".

In [127]:
# Write your code here [Coursemology]

def my_function():
    '''fill in your code below'''
    # start
    print("Hello World")

    # end

In [128]:
# Testing: the function should print "Hello World"
my_function()

Hello World

### Q27

Create a function `simple_func` that takes one parameter `x`. This function should **return** `x+5`.

In [109]:
# Write your code here [Coursemology]

def simple_func(x):
    '''fill in your code below'''
    # start
    return x+5

    # end

In [110]:
# Testing: `res` should equal to 15
res = simple_func(10)
print(res)

None

### Q28 

A palindrome is a word that can be read the same whether you read it from left to right or from right to left, such as kayak or madam. Create a function `is_palindrome` that takes in parameter the string `s`. If the word is a palindrome, print `"the word is a palindrome"`. If not, print `"the word is not a palindrome"`.

Hint: You can use a `for` loop, but this is not necessary.

In [129]:
# Write your code here [Coursemology]

def is_palindrome(s):
    '''fill in your code below'''
    # start
    return s == s[::-1]
    # end

In [130]:
# Testing: the function should print "the word is a palindrome".
print(is_palindrome("madam")) # True
print(is_palindrome("adam")) # False

True
False

### Q29 

An algorithm is said to be recursive if, at some point, it calls itself. Write a **recursive** function `factorial` that takes in argument an integer `k`. The function will return the number $k! = 1 \times 2 \times ... \times k$.

In [131]:
# Write your code here [Coursemology]

def factorial(k):
    # start
    if k == 1:
        return 1
        
    return k * factorial(k-1)
    # end

In [132]:
# Testing: `res` should equal to 720.
res = factorial(6)
print(res)

720

### Q30 

reate a function `find_max` that takes in argument a list `list1`. This function shall find the maximum of a list and the index at which this maximum is reached. You **must not** use the python function `max()`. This function return two results: the maximum and its index in the list.

Hint: You have to use a `for` loop.

In [135]:
# Write your code here [Coursemology]

def find_max(list1):
    '''fill in your code below'''
    cur_idx = -1
    cur_max = -100000
    for idx, e in enumerate(list1):
        if e > cur_max:
            cur_idx = idx
            cur_max = e
    
    return cur_max, cur_idx

In [136]:
# Testing: max_value should equal to 17; and max_index should equal to 4
max_value, max_index = find_max([-5,7,9,5,17,8,9])
print(max_value, max_index)

17 4

# Submission to Coursemology

Copy each code block that has the "[Coursemology]" comment to the approapriate question page in Coursemology.

**Note:** Make sure that your code doesn't have any additional print statements except for the ones that are provided or instructed to be written.

You may test your code in Coursemology by pressing the "Submit" question on each individual question. This will simply run and test your code and not submit your code for the final grading. To finalize your submission, press "Finalise Submission" button.